@media only screen and (max-width: 767px) {
    body {
        width: 100%;
    }
    /* header  */
    header h2 {
        padding-top: 2px;
        font-size: 16px;
    }
    /* influencer */
    .smart-influencer{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        margin: 0px;
    }
    .influence {
        order: 2;
    }
    .influencer-image {
        order: 1;
    }
    .smart-influencer div img {
        width: 202px;
        height: 190px;
    }
    /* collection */
    .collections {
        padding: 0px;
        margin: 10pxpx;
    }
    .collection {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        justify-content: center;
    }
    .collection .item {
        display: block;
        justify-content: center;
        padding: 14px;
        background-color: whitesmoke;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 2px rgba(71, 77, 77, 0.096);
    }
    /* .influencer join  */
    .join{
        background-image: url(images/june-25-blog-nano-influencers.png);
        width: 100%;
        height: 100px;
        position: relative;
    }
}