@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style */
i {
    padding-left: 2px;
}
/* navigation style */
nav {

    display: flex;
    justify-content: space-between;
}
nav h2  {
    font-size: 24px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 24px;
}
nav ul li {
    height: fit-content;
    margin-left: 20px;

}
nav ul li:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 255, 255, 0.472);
}

/* smart .influencer */
.smart-influencer {
    padding: 30px;
    display: flex;
    align-items: center;
    margin: 200px 90px 170px 90px;
}
.influence {
    display: block;
}
.influencer-title {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.smart-influencer p {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.preorder {
    font-size: 16px;
    display: flex;
    text-decoration: none;
    background-color: #3401ffc7;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    color: whitesmoke;
}
.preorder:hover ,.more-collection:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 255, 255, 0.472);
}
.smart-influencer div img {
    border-radius: 50%;
    width: 440px;
    height: 410px;
    border: 2px solid blue;
}
/* popular collection */
.collections {
    padding: 30px;
    margin: 0 170px 100px 170px;
    border-radius: 20px;
}
.collections > h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.collection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 47px 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.collection .item {
    padding: 14px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(71, 77, 77, 0.096);
}
.collection .item:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 255, 255, 0.472);
    animation: droping 0.3s ease-in-out 1;
}
@keyframes droping {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
    
}
.collection img {
    width: 300px;
    height: 256px;
}
.item {
    display: block;
}
.more-collection {
    float: right;
}
.more-collection a h3 {
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    text-decoration: none;
    color: red;
}
.rating {
    display: flex;
}
.rating > span {
    margin-left: 5px;
}
.checked {
    color: orange;
}
/* join section  */
.join{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.join img {
    width: 100%;
    height: 400px;
}
.join a {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    background-color: #7940ff;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    align-items: center;
    color: whitesmoke;
    position: absolute;
    right: 3px;
    top: 300px;
}
.join a:hover {
    box-shadow: 2px 2px 12px 2px rgba(0, 255, 255, 0.472);
}
/* footer */
footer {
    background-color: #03203C;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer>h3 {
    color: whitesmoke;
    text-align: center;
}
footer > h4 {
    text-align: center;
    color: whitesmoke;
}
.follow {
    display: flex;
    list-style: none;
    justify-content: center;
}
.follow li {
    padding: 3px;
}
.follow li:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 255, 255, 0.472);
}