@media only screen and (min-width: 768px) and (max-width: 1020px) {
    /* header style */
    header h2 {
        padding-top: 60px;
        padding-left: 70px;
    }
      /* influencer */
      .smart-influencer {
          padding: 10px;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          margin: 10px;
      }
        /* collection */
    .collections {
        padding: 25px;
        margin: 15px;
    }
        
    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        row-gap: 15px;
    }
}